body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

.flexbox-container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 70px;
}

.half-width {
    width: 50%;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 75px;

}

.half-width img {
    width: 70%;
    padding-left: 50px;

}

.orange-color {
    color: rgb(255, 153, 0);
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(to right, red, orange);
    color: white;
    font-weight: 900;
    padding: 9px 15px;
    border-radius: 20px;
    font-size: 12px;
    justify-content: center;
}

.flexbox-container2 {
    background-image: url(images/shapes/7.png);
    display: flex;
    padding-left: 50px;
    margin-bottom: 100px;
}

#text-section {
    text-align: center;
    padding: 0px 250px 0px 250px;
    margin-bottom: 10px;
}

.onethird-width {
    width: 33.333%;
    box-shadow: 0px 0px 5px 5px rgb(222, 222, 222);
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
}

.onethird-width img {
    width: 94%;
    padding: 3%;
}

.onethird-width p {
    margin-top: 0px;
    padding: 0% 0% 0% 3%;
}

.last {
    margin: 0px;
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 0.3px;
}